<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
    
  <title>{% block title %}Questionnaire{% endblock title %}</title>
    
  <link rel="stylesheet" href="/static/bootstrap/css/bootstrap.min.css" type="text/css"/>
  <link rel="stylesheet" href="/static/questionnaire.css" media="screen"></script>

  <style type="text/css">
  {% block styleextra %}
        
  {% endblock %}
  </style>

  <script src="http://code.jquery.com/jquery.js"></script>
  <script src="/static/bootstrap/js/bootstrap.js"></script>
    
  {% block headextra %}
  {% endblock %}

  <!--[if lt IE 9]>
  <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->
</head>

<body>

    <div class="container">
      <div class="content">

        <div id="languages">
          {% block language %}
          {% for lang in LANGUAGES %}
          {% if not forloop.first %} | {% endif %}
          <a href="/setlang/?lang={{ lang.0 }}&next={{ request.path }}">{{ lang.1 }}</a>
          {% endfor %}
          {% endblock language %}
        </div>

        <div class="page-header">
          <h3>gSTAR and swinSTAR annual project report</h3>
        </div>

        <div class="row">
          <div class="span10 offset1">
            <h4>Reporting period: July 1st 2012 through to June 30th
            2013</h4>
          </div>
        </div>

            <div class="row">
              <div class="span10 offset1"><hr/></div>
            </div>

            <div class="row">
              <div class="span1 offset1"><em>Notes:</em></div>
              <div class="span9">
                <em>
                <ol>
                  <li>Information gathered from annual reports will be utilised to fulfil reporting
requirements at university and government levels;
                  <li>the first section is auto-populated for you with the information we currently have
recorded for the project;
                  <li>please fill out the second section as accurately as possible to reflect your usage of
the gSTAR and/or swinSTAR compute nodes over the reporting period;
                  <li>annual reporting for projects is a mandatory requirement for usage of the facility
and may be used as a factor in future resource allocations.
                </ol>
                </em>
              </div>
            </div>

            <div class="row">
              <div class="span10 offset1"><hr/></div>
            </div>

            <div class="row">
              <div class="span10 offset1">
                <p class="lead">Provided is a summary of your project.
              Please complete the questionnaire by clicking the button
              below.</p>
                <div class="row">
                  <div class="span8 offset1">
                    <dl class="dl-horizontal">
                    <dt>Project ID</dt><dd>p003_swin</dd>
                    <dt>Project name</dt><dd>Hurley Group</dd>
                    <dt>FOR code</dt><dd>020104</dd>
                    <dt>Project leader</dt><dd>Jarrod Hurley</dd>
                    <dt>Lead institute</dt><dd>Swinburne University of
                      Technology</dd>
                    <dt>Project members</dt><dd>Anna Sippel (Swinburne
                University of Technology)<br/>Juan Madrid (Swinburne
                University of Technology)</dd>
                    <dt>CPU hours used</dt><dd>252,419</dd>
                    <dt>Storage used</dt><dd>10 TB</dd>
                    <dt>Storage quota</dt><dd>30 TB</dd>
                  </dl>
                </div>
              </div>
            </div>

            <div class="row"><div class="span12">&nbsp;</div></div>

            <div class="row">
              <div class="span3 offset5">
                <a href="/take/1" class="btn btn-primary btn-large btn-block">Ready?</a>
              </div>
            </div>

            <div class="row"><div class="span12">&nbsp;</div></div>
            <div class="row"><div class="span12">&nbsp;</div></div>

      </div>
    </div>

    <div id="footer">
      <div class="container">
        <p style="margin-top:20px;margin-bottom:20px"
      class="text-center muted credit">Luke Hodkinson (Swinburne University of Technology), 2013</p>
      </div>
    </div>

</body>
</html>
