{% extends "swin.html" %}

{% block main_content %}

<div class="row">
  <div class="span10 offset1">
    <h4>{{ project.account }}: {{ year }}</h4>
  </div>
</div>

<div class="row">
  <div class="span10 offset1"><hr/></div>
</div>

{% for ans in answers %}

<div class="row">
  <div class="span10 offset1">
    <p class="lead">{{ ans.question.text }}</p>
    {% for full in ans.full_split %}
    <p>
      {% for sub in full %}
      {{ sub }} {% if not forloop.last %}<br>{% endif %}
      {% endfor %}
    </p>
    {% endfor %}
  </div>
</div>

{% endfor %}

{% endblock main_content %}
