{% extends "_base.html" %}

{% block main_content %}

<div class="row">
  <div class="span10 offset1">
    {% if account %}
      <h4>Reporting period: July 1st 2014 through to June 30th 2015</h4>
    {% else %}
      <h4>User Satisfaction Survey</h4>
    {% endif %}
  </div>
</div>

<div class="row">
  <div class="span10 offset1"><hr/></div>
</div>

{% if account %}
<div class="row">
  <div class="span1 offset1"><em>Notes:</em></div>
  <div class="span9">
    <em>
      <ol>
        <li>Information gathered from annual reports will be utilised to fulfil reporting
requirements at university and government levels;
        <li>the first section is auto-populated for you with the information we currently have
recorded for the project;
        <li>please fill out the second section as accurately as possible to reflect your usage of
the gSTAR and/or swinSTAR compute nodes over the reporting period;
        <li>annual reporting for projects is a mandatory requirement for usage of the facility
and may be used as a factor in future resource allocations.
      </ol>
    </em>
  </div>
</div>
{% endif %}

{% comment %}
<div class="row">
  <div class="span10 offset1"><hr/></div>
</div>
{% endcomment %}

<div class="row">
  <div class="span10 offset1">
{% if account %}
    <p class="lead">Provided is a summary of your project.
    Please complete the questionnaire by clicking the button
    below.</p>
    <div class="row">
      <div class="span8 offset1">
        <dl class="dl-horizontal">
          <dt>Project ID</dt><dd style="margin-top:.8em">{{ account }}</dd>
          <dt>Project name</dt><dd style="margin-top:1.1em">{{ name }}</dd>
          <dt>FOR code</dt><dd style="margin-top:1.3em">{{ code }}</dd>
          <dt>Project leader</dt><dd style="margin-top:1.2em">{{ leader }}</dd>
          <dt>Lead institute</dt><dd style="margin-top:1.2em">{{ institution }}</dd>
          <dt>Project members</dt><dd style="margin-top:1.1em">{% for mem in members %}{{ mem.full_name }}<br/>{% endfor %}</dd>
          <dt>CPU hours used</dt><dd style="margin-top:.8em">{{ cpu }}</dd>
          <dt>Storage used</dt><dd style="margin-top:1.2em">{{ storage }} TB</dd>
          <dt>Storage quota</dt><dd style="margin-top:1.2em">{{ quota }} TB</dd>
        </dl>
      </div>
    </div>
{% else %}
    <p>
      Welcome to the g2 (gSTAR/swinSTAR) Annual User Feedback Opportunity!
    </p>
    <p>
      To help us to continue to refine and improve the HPC services that we offer
      we are seeking feedback on your experience in using the g2 facility at Swinburne
      (comprising the gSTAR and swinSTAR compute nodes, job queue, lustre storage, etc.).
    </p>
    <p>
      We estimate that the survey will take less than 10 minutes of your time to complete.
    </p>
    <p>
      Please base your answers on your usage experience over the past 12 months.
    </p>
    <p>
      At the end of the survey you have the option of providing your g2 username,
      thus you may choose to be anonymous or not. Please bear in mind that by
      providing your username it will allow us to follow-up on any specific queries you
      may have and thus directly improve your usage experience (which is the goal).
    </p>
    <p>
      Thanks for your help.
    </p>
{% endif %}
  </div>
</div>

<div class="row"><div class="span12">&nbsp;</div></div>

<div class="row">
  <div class="span3 offset5">
    <a href="q/{{ runid }}" class="btn btn-primary btn-large btn-block">Ready?</a>
  </div>
</div>

<div class="row"><div class="span12">&nbsp;</div></div>
<div class="row"><div class="span12">&nbsp;</div></div>

{% endblock main_content %}
