{% extends "swin.html" %}

{% block headextra %}
<script>
$(document).ready(function(){
  $('#select-all').click(function() {
    $('.project-btn').addClass('active');
  })
  $('#select-none').click(function() {
    $('.project-btn').removeClass('active');
  })
  $('#the-form').submit(function() {
    var all_subjs = [];
    $('.project-btn.active').each(function(){
      all_subjs.push($(this).attr('pk'));
    });
    $('input[name="projects"]').val(all_subjs.join());
  });
});
</script>
{% endblock headextra %}

{% block main_content %}

<div class="row">
  <div class="span10 offset1">
    <h4>Select projects</h4>
  </div>
</div>

<div class="row">
  <div class="span7 offset1">
    <button type="button" id="select-all" class="btn btn-block">Select all</button>
    <button type="button" id="select-none" class="btn btn-block">Select none</button>
    {% for p in projs %}
    <button type="button" pk="{{ p.pk }}" class="btn btn-block project-btn" data-toggle="button">{{ p }}</button>
    {% endfor %}
    <form action="{% url 'email_go' %}" method="post" id="the-form">
      {% csrf_token %}
      <input type="hidden" name="questionnaire" value="{{ qu.pk }}" />
      <input type="hidden" name="projects" value="" />
      <div class="form-actions">
        <button type="submit" class="btn btn-primary">Submit</button>
      </div>
    </form>
  </div>
</div>

{% endblock main_content %}
